/**
 * Focus outlines.
 *
 * https://medienbaecker.com/articles/focus-outlines
 */
*:focus-visible {
  outline-color: currentcolor;
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
}

html {
  scroll-behavior: smooth;

  @supports (scrollbar-width: auto) {
    scrollbar-color: var(--theme-color-yellow) var(--theme-color-black);
  }
}

.entry-content {
  > * + * {
    margin-block-start: var(--theme-content-spacing, 1rem);
  }

  h2 {
    font-size: 1.5rem;
    margin-block-start: clamp(2.375rem, 1.98rem + 1.96vw, 3.75rem);
  }
}

.entry-header .wp-block-post-title {
  font-size: 2rem;
  line-height: 1.15;
}

.header-menu-wrapper,
.footer-menu-wrapper {
  column-gap: 2rem;
}

.theme-header-wrapper {
  border-bottom: 2px solid var(--theme-color-black);
  padding-block: 2rem;
}

.theme-main-wrapper {
  padding-block: 4rem;
}

.footer-menu__container {
  gap: 5rem;
  padding-block-end: 1rem;
}
