/**
* Frontend styling.
*
* https://medienbaecker.com/articles/focus-outlines
*/
*:focus-visible {
	outline-color: currentColor;
	outline-style: solid;
	outline-offset: .25rem;
	outline-width: .25rem;
}

.agisty__header{
  border-bottom: 1px solid var(--theme-color-border);
}

.entry-content > * + * {
	margin-block-start: var(--theme-content-spacing, 1rem);
}

.entry-header h1 {
	font-size: 2rem;
	line-height: 1.15;
}

.entry-content h2 {
  font-size: 1.5rem;
	margin-block-start: clamp(2.375rem, 1.98rem + 1.96vw, 3.75rem);
}

.header-menu-wrapper,
.footer-menu-wrapper {
  column-gap: 2rem;
}
