/*
* Override WordPress generated classes to use rems instead of px for scalable component spacing.
*
* https://developer.wordpress.org/advanced-administration/wordpress/css/#wordpress-generated-classes
*
*/

/*
 * Ensure that we are not overriding the editor styles of the
 * WordPress Components.
 *
 * using :where to prevent the specificity increase of using :not
 *
 * https://github.com/WordPress/gutenberg/issues/10178
 */

a:where(:not(.components-external-link)) {

}

button:where(:not(.components-button)) {

}

.wp-block-image :where(figcaption) {
	margin-block: 0.5rem;
    text-align: left;
}

.is-layout-constrained {
	width: min(100% - 4rem, var(--wp--style--global--wide-size));
	margin-inline: auto;
}

article {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: var(--wp--style--global--content-size);
}

.wp-block-navigation :where(a),
.wp-block-navigation :where(a:active),
.wp-block-navigation :where(a:focus),
.wp-block-navigation :where(a:hover) {
	color: var(--theme-color-black);
}
