/*
* Override WordPress generated classes to use rems instead of px for scalable component spacing.
*
* https://developer.wordpress.org/advanced-administration/wordpress/css/#wordpress-generated-classes
*
*/

/*
 * Ensure that we are not overriding the editor styles of the
 * WordPress Components.
 *
 * using :where to prevent the specificity increase of using :not
 *
 * https://github.com/WordPress/gutenberg/issues/10178
 */

/* a:where(:not(.components-external-link)) {

}

button:where(:not(.components-button)) {

} */

.is-layout-constrained {
  width: min(100% - 4rem, var(--theme-content-wide));
  margin-inline: auto;
}

.wp-block-image :where(figcaption) {
  margin-block: 0.5rem;
  text-align: left;
}

.wp-block-navigation :where(a) {
  color: var(--theme-color-black);

  &:is(:hover, :active) {
    color: var(--theme-color-link-initial);
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--theme-color-yellow);
    box-shadow: 0 -2px var(--theme-color-yellow), 0 4px var(--theme-color-black);
    color: var(--theme-color-black);
    outline: none;
    text-decoration-line: none;
  }
}

.wp-block-navigation {
  justify-content: space-between;
}
