body {
    display: flex;
    flex-direction: column;
    min-height: 100svh; /* https://www.youtube.com/watch?v=ru3U8MHbFFI */
	overflow-x: clip;
}

article {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: var(--wp--style--global--content-size);
}

.agisty__header {
	justify-content: space-between;
	flex-wrap: nowrap;
}

.agisty__main {
	align-items: stretch;
	gap: 2rem;

	/*
	 *	https://every-layout.dev/layouts/sidebar/
	 *	https://www.youtube.com/watch?v=k_3pRxdv-cI
	 */
	> article {
		/* ↓ Grow from nothing */
		flex-grow: 999;
		flex-basis: 0;
		/* ↓ Wrap when main content is less than the specified width in px. */
		min-inline-size: min(550px, 100%);
	}

	> aside {
		/* ↓ The width of the sidebar sidebar */
		flex-grow: 1;
		flex-basis: 350px;
	}
}

.agisty__sidebar {
	align-items: flex-start;
	max-width: var(--wp--style--global--content-size);
}

.agisty__footer {
	border-top: 5px solid var(--theme-color-black);
	padding-block-start: 1rem;
	padding-block-end: 1rem;
}
