body {
    display: flex;
    flex-direction: column;
    min-height: 100svh; /* https://www.youtube.com/watch?v=ru3U8MHbFFI */
    overflow-x: hidden;
}

.agisty__header {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.agisty__main {
	gap: 2rem;
  padding-block-start: 5rem;
  padding-block-end: 5rem;
}

.agisty__sidebar {
	flex-direction: column;
	flex-grow: 1;
	gap: 2rem;
}

.agisty-article__container {
	gap: 2rem;
}

.agisty__footer {
  border-top: 5px solid var(--theme-color-black);
  padding-block-start: 1rem;
  padding-block-end: 1rem;
}

.footer-menu__container {
	gap: 5rem;
  padding-block-end: 1rem;
}

/* .agisty-body__container {
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	max-width: var(--wp--style--global--wide-size);
}

#header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 90px;
} */



/*
#footer {
  min-height: 90px;
}

.site-header__logo {
  padding-top: auto;
  padding-bottom: auto;
}

.header__menu,
.footer__menu {
  display: flex;
  gap: 1rem;
}

.header__menu {
  justify-content: flex-end;
}

.entry-header,
.entry-content {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto;
  margin-right: auto;
}

.entry-header {
  margin-bottom: 2.5rem;
} */

