/**
 * CSS reset specific to WordPress themes.
 *
 * https://piccalil.li/blog/a-more-modern-css-reset/
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * https://getbootstrap.com/docs/5.3/content/reboot/
 * https://tailwindcss.com/docs/preflight
 */

::selection {
  background-color: #0033a6;
  color: #ffe;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /** 
   * Resources on prefers-reduced-motion:
   *
   * https://webkit.org/blog-files/prefers-reduced-motion/prm.htm
   * https://web.dev/articles/prefers-reduced-motion
   * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion 
   */
  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}

html {
  /**
   * Set the font size to none to prevent the browser from changing the font size.
   *
   * https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust#basic_disabling_usage
   */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:root {
  /**
   * Make sure that the contrast ratio of text and interactive elements
   * meets level AA of the Web Content Accessibility Guidelines (WCAG 2.2).
   *
   * https://www.w3.org/TR/WCAG22/#contrast-minimum
   * https://design-system.service.gov.uk/styles/colour/
   */
  --agisty-color-black: #11171d;
  --agisty-color-gray: #4b555f;
  --agisty-color-red: #a51c30;
  --agisty-color-blue: #0033a6;
  --agisty-color-green: #00703c;
  --agisty-color-yellow: #fabf46;
  --agisty-color-white: #fbfbfb;
  --agisty-color-link-initial: #0033a6;
  --agisty-color-link-hover: #003078;
  --agisty-color-border: #b1b4b7;
}

/* Anything that has been anchored to should have extra scroll margin. */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: var(--agisty-color-white);
  color: var(--agisty-color-black);
  font-family: system-ui, -apple-system, sans-serif;
  font-feature-settings: "kern", "liga", "calt";
  font-kerning: normal;
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  min-height: 100svh; /* https://www.youtube.com/watch?v=ru3U8MHbFFI */
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

header,
main,
article,
section,
footer {
  container-type: inline-size;
}

/* Remove default margin in favor of better control in authored CSS. */
h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  margin-block: 0;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

/**
 * Make images and other replaced elements easier to work with.
 *
 * https://tailwindcss.com/docs/preflight#images-are-block-level
 */
img,
audio,
picture,
iframe,
embed,
video,
canvas,
svg {
  display: block;
  vertical-align: middle;
}

/**
 * Images and videos are constrained to the parent width in a way that 
 * preserves their intrinsic aspect ratio.
 *
 * https://tailwindcss.com/docs/preflight#images-are-constrained
 */
img,
video {
  max-width: 100%;
  height: auto;
}

figcaption {
  text-wrap: pretty;
}

abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

small {
  font-size: 0.875rem;
}

blockquote:where(:not(.wp-block)),
figure:where(:not(.wp-block)),
dl,
dd,
pre {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  overflow-wrap: break-word;
}

/* Set shorter line heights on headings and interactive elements */
button,
input,
label {
  line-height: 1.2;
}

/* Inherit fonts for inputs and buttons */
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

iframe {
  border: 0;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10rem;
}

a {
  color: var(--agisty-color-link-initial);
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1578rem;

  &:is(:hover) {
    color: var(--agisty-color-link-hover);
    text-decoration-thickness: 3px;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--agisty-color-yellow);
    box-shadow: 0 -2px var(--agisty-color-yellow),
      0 4px var(--agisty-color-black);
    color: var(--agisty-color-black);
    outline: none;
    text-decoration-line: none;
  }
}

p {
  margin: 0;
  margin-block: 0;
  overflow-wrap: break-word;
  text-wrap: pretty;

  img {
    display: inline-block;
  }
}

li {
  text-wrap: pretty;

  img {
    display: inline-block;
    vertical-align: sub;
  }
}

ol,
ul {
  margin-block: 0;
  padding-inline: 0;

  /**
   * Remove list styles on ul, ol elements with a list role,
   * which suggests default styling will be removed.
   */
  &[role="list"] {
    list-style: none;
  }
}

/* Create a root stacking context */
.wp-site-blocks {
  isolation: isolate;
}
