/**
 * My CSS reset specific to WordPress themes.
 *
 * This is to provide consistent, and simple baseline CSS
 * that works across many devices and browser versions.
 *
 * author:  Rey Sanchez (https://selftawt.com)
 * license: GPLv3.0
 */

:root {
  /**
   * Make sure that the contrast ratio of text and interactive elements
   * meets level AA of the Web Content Accessibility Guidelines (WCAG 2.2).
   *
   * https://www.w3.org/TR/WCAG22/#contrast-minimum
   * https://design-system.service.gov.uk/styles/colour/
   */
  --agisty-color-black: #11171d;
  --agisty-color-gray: #4b555f;
  --agisty-color-red: #a51c30;
  --agisty-color-blue: #0033a6;
  --agisty-color-green: #00703c;
  --agisty-color-yellow: #fabf46;
  --agisty-color-white: #fbfbfb;
  --agisty-color-link-initial: #0033a6;
  --agisty-color-link-hover: #003078;
  --agisty-color-border: #b1b4b7;
  --agisty-color-background: #f6f8fa;

  /** CSS Variables. More will be added over time. */
  --agisty-font-system: system-ui, -apple-system, sans-serif;
  --agisty-font-monospace: ui-monospace, Menlo, Monaco, Consolas, monospace;
  --agisty-line-height: calc(1ex / 0.32);
  --agisty-line-height-s: 1.2;
  --agisty-line-height-m: 1.5;
  --agisty-link-decoration: solid underline currentColor 2px;
  --agisty-underline-offset: 0.175rem;

  /**
   * Calculated font sizes and spacing.
   *
   * https://utopia.fyi
   */

  /** 16.5px → 18.5px */
  --agisty-font-size-0: clamp(1.0313rem, 0.6875rem + 1vw, 1.1563rem);

  /** 20.5px → 25.5px */
  --agisty-font-size-1: clamp(1.2813rem, 0.4219rem + 2.5vw, 1.5938rem);

  /** 28.5px → 30.5px */
  --agisty-font-size-2: clamp(1.7813rem, 1.4375rem + 1vw, 1.9063rem);
  --agisty-font-size-small: 14px;

  /** 
   * Spacing between main content and sidebar.
   * 32px @1196px → 100px @1264px
   */
  --agisty-spacing-0: clamp(2rem, -72.75rem + 100vw, 6.25rem);
}

/**
 * This ensures that the declared width of element is never exceeded 
 * due to padding or border.
 *
 * https://getbootstrap.com/docs/5.3/content/reboot/
 * https://piccalil.li/blog/a-more-modern-css-reset/
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */
*,
*::before,
*::after {
  box-sizing: border-box;

  /** 
   * Resources on prefers-reduced-motion:
   *
   * https://web.dev/articles/prefers-reduced-motion
   * https://webkit.org/blog/7551/responsive-design-for-motion/
   * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion 
   */
  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--agisty-color-white);
  color: var(--agisty-color-black);
  display: flex;
  flex-direction: column;
  font-family: var(--agisty-font-system);
  font-kerning: normal;
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 400;
  line-height: var(--agisty-line-height);
  margin-inline: auto;
  min-height: 100vh;
  min-height: 100svh; /** https://www.youtube.com/watch?v=ru3U8MHbFFI */
  overflow-wrap: break-word;
  overflow-x: clip;
  text-rendering: optimizeLegibility;
  text-wrap: pretty; /** Available in Baseline since March 2024. */
  width: min(100% - 4rem, var(--wp--style--global--wide-size));
}

/* Remove default margin in favor of better control in authored CSS. */
h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: var(--agisty-line-height-s);
  margin-block: 0;
}

abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

/**
 * Make images and other replaced elements easier to work with.
 *
 * https://tailwindcss.com/docs/preflight#images-are-block-level
 */
audio,
canvas,
embed,
iframe,
picture,
svg,
video {
  display: block;
  vertical-align: middle;
}

/**
 * Images and videos are constrained to the parent width in a way that 
 * preserves their intrinsic aspect ratio.
 *
 * https://tailwindcss.com/docs/preflight#images-are-constrained
 */
video {
  max-width: 100%;
  height: auto;
}

code,
kbd,
pre,
samp {
  background-color: var(--agisty-color-background);
  border: 1px solid var(--agisty-color-border);
  font-family: var(--agisty-font-monospace);
  font-size: var(--agisty-font-size-small);
}

code,
kbd {
  padding-block: 0.125rem;
  padding-inline: 0.25rem;
}

code {
  color: var(--agisty-color-red);
}

/**
 * Style the kbd element to look like a button. 
 *
 * https://dylanatsmith.com/wrote/styling-the-kbd-element
 * https://grtcalculator.com/styles/
 */
kbd {
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 1px var(--agisty-color-border);
  color: var(--agisty-color-gray);

  &:is(:hover) {
    box-shadow: 0 1px 0 0.5px var(--agisty-color-border);
    color: var(--agisty-color-black);
  }
}

pre {
  line-height: var(--agisty-line-height-m);
  margin: 0;
  overflow: auto;
  padding-block: var(--wp--preset--spacing--50);
  padding-inline: var(--wp--preset--spacing--50);

  code {
    border: none;
    color: inherit;
    padding-block: 0;
    padding-inline: 0;
  }
}

:where(figure) {
  margin-block: 0;
  margin-inline: 0;
}

button,
input,
label,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: var(--agisty-line-height-s);
}

a {
  color: var(--agisty-color-link-initial);
  text-decoration: var(--agisty-link-decoration);
  text-underline-offset: var(--agisty-underline-offset);

  &:is(:hover) {
    color: var(--agisty-color-link-hover);
    text-decoration-thickness: 3px;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--agisty-color-yellow);
    box-shadow: 0 -2px var(--agisty-color-yellow),
      0 4px var(--agisty-color-black);
    color: var(--agisty-color-black);
    outline: none;
    text-decoration-line: none;
  }
}

p {
  margin: 0;
  margin-block: 0;

  img {
    display: inline-block;
  }
}

/* Create a root stacking context */
.wp-site-blocks {
  isolation: isolate;
}
