/** 
 * Typography and Opentype Default Stylesheet (TODS)
 *
 * https://github.com/clagnut/TODS
 */

@font-face {
  font-family: --agisty-font-head;
  font-style: normal;
  font-weight: 1 900;
  font-display: swap;
  src: url("../fonts/agisty-body-rg.woff2") format("woff2");
}

@font-face {
  font-family: --agisty-font-body;
  font-style: normal;
  font-weight: 1 900;
  font-display: swap;
  src: url("../fonts/agisty-body-rg.woff2") format("woff2");
}

@font-face {
  font-family: --agisty-font-body;
  font-style: italic;
  font-weight: 1 900;
  font-display: swap;
  src: url("../fonts/agisty-body-it.woff2") format("woff2");
}

@font-face {
  font-family: --agisty-font-mono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/agisty-mono-rg.woff2") format("woff2");
}

body {
  font-family: "--agisty-font-body", system-ui, -apple-system, sans-serif;
  font-size-adjust: from-font;
  text-wrap: wrap pretty;

  /* Turn on kerning and ligature. */
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: lining-nums proportional-nums;
}

h1,
h2,
h3,
h4 {
  font-family: "--agisty-font-head", system-ui, -apple-system, sans-serif;
}

code,
kbd,
pre {
  font-family: "--agisty-font-mono", "SF Mono", Menlo, "Fira Mono", monospace;
}

ol li::marker {
  font-variant-numeric: lining-nums tabular-nums;
}

sup,
sub,
.sup,
.sub {
  font-size: inherit;
  vertical-align: baseline;
}

sup,
.sup {
  font-variant-position: super;
}

sub,
.sub {
  font-variant-position: sub;
}
