/**
 * My CSS reset specific to WordPress themes.
 *
 * This is to provide consistent, and simple baseline CSS
 * that works across many devices and browser versions.
 *
 * Resources:
 * 
 * https://piccalil.li/blog/a-modern-css-reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * https://getbootstrap.com/docs/5.3/content/reboot/
 * https://tailwindcss.com/docs/preflight
 */

:root {
  /**
   * Calculated font sizes and spacing.
   *
   * Min values are based on 500px.
   * Max values are based on 750px.
   * https://grtcalculator.com/styles/
   * https://utopia.fyi
   * https://clamp.font-size.app/
   */

  /* 26px → 34px. */
  --agisty-font-size-xl: clamp(1.625rem, 0.625rem + 3.2vw, 2.125rem);

  /* 21px → 25px. */
  --agisty-font-size-lg: clamp(1.3125rem, 0.8125rem + 1.6vw, 1.5625rem);

  /* 17px → 19px. */
  --agisty-font-size-rg: clamp(1.0625rem, 0.8125rem + 0.8vw, 1.1875rem);

  /* 15px → 16px. */
  --agisty-font-size-sm: clamp(0.9375rem, 0.8125rem + 0.4vw, 1rem);

  /* 14px → 15px. */
  --agisty-font-size-xm: clamp(0.875rem, 0.75rem + 0.4vw, 0.9375rem);

  /* 40px → 48px */
  --agisty-spacing-lg: clamp(2.5rem, 1.5rem + 3.2vw, 3rem);

  /* 19px → 23px */
  --agisty-spacing-rg: clamp(1.1875rem, 0.6875rem + 1.6vw, 1.4375rem);

  /** 
   * Spacing between main content and sidebar.
   * 32px @1196px → 100px @1264px
   */
  --agisty-spacing-sidebar: clamp(2rem, -72.75rem + 100vw, 6.25rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px dashed darkred;

  /**
   * Resources on doing `prefers-reduced-motion` correctly.
   *
   * https://web.dev/articles/prefers-reduced-motion
   * https://webkit.org/blog/7551/responsive-design-for-motion/
   * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion 
   */
  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--agisty-spacing-lg);

  /* Disables the browser's inflation algorithm. */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /** 
   * Animate to or from `height: auto` and other intrinsic sizes.
   * 
   * https://12daysofweb.dev/2024/calc-size-and-interpolate-size/
   */
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--wp--custom--white);
  color: var(--wp--custom--black);
  font-family: "Agisty Body", system-ui, -apple-system, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  min-height: 100svh; /* https://www.youtube.com/watch?v=ru3U8MHbFFI */
  overflow-wrap: break-word;
  overflow-x: clip;
  text-wrap: pretty;

  /* Turn on kerning and ligature. */
  font-feature-settings: "kern", "liga", "lnum", "pnum";
  font-kerning: normal;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4 {
  font-family: "Agisty Head", system-ui, -apple-system, sans-serif;
  font-weight: 600;
  line-height: var(--wp--custom--line-height-head);
  margin-block: 0;
}

h1 {
  font-size: var(--agisty-font-size-xl);
}

h2 {
  font-size: var(--agisty-font-size-lg);
}

h3,
h4 {
  font-size: var(--agisty-font-size-rg);
}

p {
  margin-block: 0;

  /**
   * A better image reset for your CSS.
   *
   * https://www.youtube.com/watch?v=345V2MU3E_w
   */
  img {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    font-style: italic;
    vertical-align: middle;
  }
}

a:where(:not(.wp-element-button)) {
  color: var(--wp--custom--link);
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-color: currentcolor;
  text-underline-offset: 0.175rem;

  &:is(:hover) {
    color: rgb(from var(--wp--custom--link) r g b / 90%);
    text-decoration-thickness: 3px;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--wp--custom--focus);
    box-shadow: 0 -2px var(--wp--custom--focus), 0 4px var(--wp--custom--black);
    color: var(--wp--custom--black);
    outline: none;
    text-decoration-line: none;
  }
}

ul,
ol {
  margin-block: 0;
  padding-inline: 0;
}

/* Make images and other replaced elements easier to work with. */
figure,
iframe,
svg {
  display: block;
  vertical-align: middle;
}

code,
kbd,
pre,
samp {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  font-family: "Agisty Mono", "SF Mono", "Fira Mono", Menlo, monospace;
  font-size: var(--agisty-font-size-xm);
}

code,
kbd {
  padding-block: 0.125rem;
  padding-inline: 0.25rem;
}

/**
 * Style the kbd element to look like a button.
 *
 * https://dylanatsmith.com/wrote/styling-the-kbd-element
 */
kbd {
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 1px var(--wp--custom--border);
  color: var(--wp--custom--gray);
}

pre {
  line-height: 1.5;
  margin: 0;
  overflow: auto;
  padding-block: var(--agisty-spacing-rg);
  padding-inline: var(--agisty-spacing-rg);

  code {
    border: none;
    color: inherit;
    padding-block: 0;
    padding-inline: 0;
  }
}

button,
input,
label,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: var(--wp--custom--line-height-head);
}

abbr[title] {
  cursor: help;
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

/* Create a root stacking context */
.wp-site-blocks {
  isolation: isolate;
}
