/**
 * CSS reset specific to WordPress themes.
 *
 * This is to provide consistent, and simple baseline CSS
 * that works across many devices and browser versions.
 *
 * Resources:
 * 
 * https://piccalil.li/blog/a-modern-css-reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 * https://getbootstrap.com/docs/5.3/content/reboot/
 * https://tailwindcss.com/docs/preflight
 */

*,
*::before,
*::after {
  box-sizing: border-box;

  /**
   * Resources on doing `prefers-reduced-motion` correctly.
   *
   * https://web.dev/articles/prefers-reduced-motion
   * https://webkit.org/blog/7551/responsive-design-for-motion/
   * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion 
   */
  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: -1ms !important;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 16px;
  tab-size: 4;

  /** 
   * Animate to or from `height: auto` and other intrinsic sizes.
   * 
   * https://12daysofweb.dev/2024/calc-size-and-interpolate-size/
   */
  interpolate-size: allow-keywords;

  /* Disables the browser's inflation algorithm. */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* Font smoothing. */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  min-height: 100svh; /* https://www.youtube.com/watch?v=ru3U8MHbFFI */
  overflow-wrap: break-word;
  overflow-x: clip;
}

blockquote,
figure,
h1,
h2,
h3,
h4,
p,
menu,
ol,
ul {
  margin-block: 0;
}

blockquote,
figure {
  margin-inline: 0;
}

/* Make images and other replaced elements easier to work with. */
figure,
iframe,
svg {
  display: block;
  vertical-align: middle;
}

:where(figure) {
  margin: 0;
}

abbr[title] {
  cursor: help;
  text-decoration: underline 0.125rem dotted currentcolor;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
}

button,
input,
label,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.2;
}

pre {
  overflow: auto;
  margin: 0;
}

/**
 * A better image reset for your CSS.
 *
 * https://www.youtube.com/watch?v=345V2MU3E_w
 */
img {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Remove list styles on ul, ol elements with a list role,
 * which suggests default styling will be removed.
 */
menu,
ol,
ul {
  padding-inline-start: 0;

  &[role="list"] {
    list-style-type: none;
  }
}
