/**
 * Override default styling of WordPress blocks.
 *
 * author:  Rey Sanchez (https://selftawt.com)
 * license: GPLv3.0
 */

/* ------------------------------
 * Text
 *    1. List
 *    2. Quote
 *    3. Code         -- Already included in CSS reset.
 *    4. Details
 *    5. Preformatted -- Already included in CSS reset.
 *    6. Pullquote
 *    7. Table
 * Media
 *    8. Image
 * Design
 *    9. Button
 * Theme
 *   10. Navigation
 * --------------------------- */

/* ------------------------------
 | 1. List
 * --------------------------- */
.wp-block-list {
  margin-block: 0;
  padding-inline-start: 1rem;

  /**
   * Remove list styles on ul, ol elements with a list role,
   * which suggests default styling will be removed.
   */
  &[role="list"] {
    list-style: none;
  }

  li {
    margin-block-start: 1rem;

    &:where(:first-child) {
      margin-block-start: 0;
    }
  }

  ol,
  ul {
    margin-block-start: 1rem;
  }
}

/* ------------------------------
 | 2. Quote
 * --------------------------- */
.wp-block-quote {
  margin-block: 0;
  margin-inline: 0;
}

/* ------------------------------
 | 4. Details
 * --------------------------- */

/* ------------------------------
 | 6. Pullquote
 * --------------------------- */
.wp-block-pullquote {
  background-color: var(--agisty-color-background);
  border-left: 4px solid var(--agisty-color-border);
  margin: 0;
  padding: 1rem;
  text-align: left;

  cite {
    color: var(--agisty-color-gray);
    font-size: var(--wp--preset--font-size--normal);
  }
}

:root :where(.wp-block-pullquote) {
  font-size: inherit;
  line-height: var(--agisty-line-height);
}

/* ------------------------------
 | 7. Table
 * --------------------------- */
.wp-block-table {
  caption-side: bottom;
  font-size: var(--wp--preset--font-size--normal);

  table {
    border-spacing: 0;
    border-color: var(--agisty-color-border);
  }

  thead {
    background-color: #e6e6e6;
  }

  tfoot {
    border-top: 2px solid var(--agisty-color-black);
    color: var(--agisty-color-gray);
  }

  tbody,
  tr,
  td,
  th {
    border-color: var(--agisty-color-border);
  }
}

/* ------------------------------
 | 8. Image
 * --------------------------- */
.wp-block-image :where(figcaption) {
  border-bottom: 1px dashed var(--agisty-color-border);
  font-size: var(--wp--preset--font-size--normal);
  line-height: 1.5;
  margin-block-end: 0;
  padding-block-end: 0.5rem;
  text-align: left;
}

/* ------------------------------
 | 9. Buttons
 * --------------------------- */
:root :where(.wp-element-button, .wp-block-button__link) {
  /** https://ui.shadcn.com/colors */
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  background-color: var(--agisty-color-red);
  background-image: linear-gradient(var(--red-800), var(--red-900));
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem var(--red-950), 0 0 0 0.5rem var(--agisty-color-white);
  font-size: var(--wp--preset--font-size--normal);
  line-height: 1.2;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);

  &:is(:hover) {
    color: var(--agisty-color-white);
    background-image: linear-gradient(#9a3412, #7c2d12);
  }
}

/* ------------------------------
 | 10. Navigation
 * --------------------------- */
.wp-block-navigation :where(a) {
  color: var(--agisty-color-black);

  &:is(:hover, :active) {
    color: var(--agisty-color-link-initial);
    text-decoration: solid underline currentColor 3px;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--agisty-color-yellow);
    box-shadow: 0 -2px var(--agisty-color-yellow),
      0 4px var(--agisty-color-black);
    color: var(--agisty-color-black);
    outline: none;
    text-decoration-line: none;
  }
}
