/**
 * Override default styling of WordPress blocks.
 *
 * author:  Rey Sanchez (https://selftawt.com)
 * license: GPLv3.0
 */

/* ------------------------------
 * Text
 *    1. List
 *    2. Quote
 *    3. Code         -- Already included in CSS reset.
 *    4. Details
 *    5. Preformatted -- Already included in CSS reset.
 *    6. Pullquote
 *    7. Table
 * Media
 *    8. Image
 * Design
 *    9. Button
 * Theme
 *   10. Navigation
 * --------------------------- */

/* ------------------------------
 | 1. List
 * --------------------------- */
.wp-block-list {
  margin-block: 0;
  padding-inline-start: var(--wp--preset--spacing--50);

  /**
   * Remove list styles on ul, ol elements with a list role,
   * which suggests default styling will be removed.
   */
  &[role="list"] {
    list-style: none;
  }

  li {
    margin-block-start: 1rem;

    &:where(:first-child) {
      margin-block-start: 0;
    }
  }

  ol,
  ul {
    margin-block-start: 1rem;
    padding-inline-start: var(--wp--preset--spacing--40);
  }
}

/* ------------------------------
 | 2. Quote
 * --------------------------- */
.wp-block-quote {
  margin-block: 0;
  margin-inline: 0;
}

/* ------------------------------
 | 4. Details
 * --------------------------- */

/* ------------------------------
 | 6. Pullquote
 * --------------------------- */
.wp-block-pullquote {
  background-color: white;
  border-left: 4px solid var(--wp--custom--border);
  margin: 0;
  outline: 1px dashed var(--wp--custom--guides);
  padding: 1rem 1.5rem;
  text-align: left;

  cite {
    color: var(--wp--custom--gray);
    font-size: var(--wp--preset--font-size--normal);
  }
}

:root :where(.wp-block-pullquote) {
  font-size: inherit;
  line-height: var(--wp--custom--line-height-c);
}

/* ------------------------------
 | 7. Table
 * --------------------------- */
.wp-block-table {
  caption-side: bottom;
  font-size: var(--wp--preset--font-size--normal);

  table {
    border-spacing: 0;
    border-color: var(--wp--custom--border);
  }

  thead {
    background-color: rgb(from var(--wp--custom--gray) r g b / 17%);
  }

  tfoot {
    border-top: 2px solid var(--wp--custom--black);
    color: var(--wp--custom--gray);
    font-size: var(--agisty-font-size--small);
  }

  tbody,
  tr,
  td,
  th {
    border-color: var(--wp--custom--border);
  }
}

/* ------------------------------
 | 8. Image
 * --------------------------- */
.wp-block-image :where(figcaption) {
  border-bottom: 1px dashed var(--wp--custom--border);
  font-size: var(--wp--preset--font-size--normal);
  line-height: 1.5;
  margin-block-end: 0;
  padding-block-end: 0.5rem;
  text-align: left;
}

/* ------------------------------
 | 9. Buttons
 * --------------------------- */
:root :where(.wp-element-button, .wp-block-button__link) {
  --_btn-shadow: oklch(from var(--wp--custom--button) calc(l - 0.1) c h);

  box-shadow: 0 0.25rem var(--_btn-shadow),
    0 0 0 0.5rem var(--wp--custom--white);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  text-underline-offset: auto;

  &:is(:hover) {
    background-color: rgb(from var(--wp--custom--button) r g b / 90%);
  }
}

/* ------------------------------
 | 10. Navigation
 * --------------------------- */
.wp-block-navigation :where(a) {
  color: var(--wp--custom--black);

  &:is(:hover, :active) {
    color: var(--wp--custom--blue);
    text-decoration: solid underline currentColor 3px;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--wp--custom--yellow);
    box-shadow: 0 -2px var(--wp--custom--yellow), 0 4px var(--wp--custom--black);
    color: var(--wp--custom--black);
    outline: none;
    text-decoration-line: none;
  }
}
