/**
 * Theme-specific styles.
 *
 * author:  Rey Sanchez (https://selftawt.com)
 * license: GPLv3.0
 */

/**
 * Focus outlines.
 *
 * https://medienbaecker.com/articles/focus-outlines
 */
*:focus-visible {
  outline: 2px solid currentcolor;
  outline-offset: 2px;
}

article,
aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* header,
main,
article,
section,
footer {
  container-type: inline-size;
} */

.agisty__header {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.agisty__main {
  --sidebar--width: 350px;

  align-items: stretch;
  gap: 2rem var(--agisty-spacing-0);

  /**
   * https://every-layout.dev/layouts/sidebar/
   * https://www.youtube.com/watch?v=k_3pRxdv-cI 
   */

  > article {
    /* ↓ Grow from nothing */
    flex-grow: 999;
    flex-basis: 0;

    /* ↓ Wrap when main content is less than the specified width in px. */
    min-inline-size: min(550px, 100%);
  }

  > aside {
    /* ↓ The width of the sidebar sidebar */
    flex-grow: 1;
    flex-basis: var(--sidebar--width);
    background-color: var(--wp--custom--backgr);
    border: 1px solid var(--wp--custom--border);
  }
}

.entry-content {
  font-size: var(--agisty-font-size-norms);
  line-height: var(--wp--custom--line-height-c);

  * + * {
    margin-block-start: var(--wp--preset--spacing--50, 1rem);
  }

  h2 {
    font-size: var(--agisty-font-size-h2);
    margin-block-start: var(--agisty-font-size-h1);
  }

  h3 {
    font-size: var(--agisty-font-size-norms);
  }
}

.entry-header .wp-block-post-title {
  font-size: var(--agisty-font-size-h1);
}

.header-menu-wrapper,
.footer-menu-wrapper {
  column-gap: 2rem;
}

.agisty__sidebar {
  align-items: flex-start;
  max-width: var(--wp--style--global--content-size);
}

.agisty-wrapper-header {
  border-bottom: 2px solid var(--wp--custom--black);
  padding-block: 2rem;
}

.agisty-wrapper-main {
  padding-block: 4rem;
}

.footer-menu__container {
  padding-block-end: 1rem;
}

.agisty-footer__copyright,
.agisty-footer__menu :where(a) {
  font-size: 16px;
}

.agisty__footer {
  border-top: 4px solid var(--wp--custom--black);
  padding-block: 1rem;
}

.agisty-box-red,
.agisty-box-blue {
  padding-block: var(--wp--preset--spacing--50);
  padding-inline: var(--wp--preset--spacing--50);
}

.agisty-box-red {
  background-color: rgb(from var(--wp--custom--red) r g b / 13%);
  border: 1px solid var(--wp--custom--red);
}

.agisty-box-blue {
  background-color: rgb(from var(--wp--custom--blue) r g b / 13%);
  border: 1px solid var(--wp--custom--blue);
}
