/* ------------------------------
 * Override default styling of some of the WordPress blocks.
 *
 * Text
 *    1. List
 *    2. Quote
 *    3. Details
 *    4. Pullquote
 *    5. Table
 * Media
 *    6. Image
 * Design
 *    7. Button
 * Theme
 *    8. Navigation
 * --------------------------- */

/* ------------------------------
 | List
 * --------------------------- */
.wp-block-list {
  margin-block: 0;
  padding-inline-start: 3ch;

  /**
   * Remove list styles on ul, ol elements with a list role,
   * which suggests default styling will be removed.
   */
  &[role="list"] {
    list-style: none;
    padding-inline-start: 0;
  }

  li {
    margin-block-start: 0.5rem;

    &:where(:first-child) {
      margin-block-start: 0;
    }
  }

  ol,
  ul {
    margin-block-start: 0.5rem;
    padding-inline-start: var(--wp--preset--spacing--40);
  }
}

/* Footnotes. */
.wp-block-footnotes {
  margin-block: 0;
  padding-inline-start: 3ch;

  li {
    margin-block-start: 0.5rem;
  }
}

/* ------------------------------
 | Quote
 * --------------------------- */
.wp-block-quote {
  margin-block: 0;
  margin-inline: 0;
}

/* ------------------------------
 | Details
 |
 | Animate details & summary with a few lines of CSS.
 | https://www.youtube.com/watch?v=Vzj3jSUbMtI
 * --------------------------- */
.wp-block-details {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  padding-block: var(--agisty-space-top-rg, 1rem);
  padding-inline: var(--agisty-space-top-rg, 1rem);
  overflow: clip;

  &::details-content {
    block-size: 0;
    transition: block-size 500ms, content-visibility 500ms;
    transition-behavior: allow-discrete;
  }

  &[open]::details-content {
    block-size: auto;
  }

  summary {
    list-style-position: outside;
    margin-inline-start: var(--agisty-space-top-rg, 1rem);

    &::marker {
      font-size: var(--agisty-font-size-xm);
    }
  }
}

/* ------------------------------
 | Pullquote
 * --------------------------- */
:root :where(.wp-block-pullquote) {
  background-color: white;
  border-left: 4px solid var(--wp--custom--brand);
  font-size: inherit;
  line-height: var(--agisty-line-height-head);
  margin: 0;
  outline: 1px dashed var(--wp--custom--guides);
  padding: 1rem 1.5rem;
  text-align: left;

  cite {
    color: var(--wp--custom--gray);
    font-size: var(--agisty-font-size-rg);
  }
}

/* ------------------------------
 | Table
 * --------------------------- */
.wp-block-table {
  caption-side: bottom;
  font-size: var(--wp--preset--font-size--normal);

  table {
    border-spacing: 0;
    border-color: var(--wp--custom--border);
  }

  thead {
    background-color: rgb(from var(--wp--custom--gray) r g b / 17%);
  }

  tfoot {
    border-top: 2px solid var(--wp--custom--black);
    color: var(--wp--custom--gray);
    font-size: var(--agisty-font-size-xm);
  }

  tbody,
  tr,
  td,
  th {
    border-color: var(--wp--custom--border);
  }
}

/* ------------------------------
 | Image
 * --------------------------- */

.wp-block-image {
  margin-block: 0;
  margin-inline: 0;

  /** 
   * A better image reset for your CSS.
   *
   * https://www.youtube.com/watch?v=345V2MU3E_w
   */
  img {
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    vertical-align: middle;
  }

  :where(figcaption) {
    border-bottom: 1px dashed var(--wp--custom--border);
    color: var(--wp--custom--gray);
    font-size: var(--agisty-font-size-sm);
    line-height: 1.5;
    margin-block-end: 0;
    padding-block-end: 0.5rem;
    text-align: left;
  }
}

/* ------------------------------
 | Buttons
 * --------------------------- */
:root :where(.wp-element-button, .wp-block-button__link) {
  --_btn-shadow: oklch(from var(--wp--custom--button) calc(l - 0.1) c h);

  box-shadow: 0 0.25rem var(--_btn-shadow),
    0 0 0 0.5rem var(--wp--custom--white);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  text-underline-offset: auto;

  &:is(:hover) {
    background-color: rgb(from var(--wp--custom--button) r g b / 90%);
  }
}

/* ------------------------------
 | Navigation
 * --------------------------- */
.wp-block-navigation :where(a) {
  color: var(--wp--custom--black);

  &:is(:hover, :active) {
    color: var(--wp--custom--link);
    text-decoration: solid underline currentcolor 3px;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--wp--custom--focus);
    box-shadow: 0 -2px var(--wp--custom--focus), 0 4px var(--wp--custom--black);
    color: var(--wp--custom--black);
    outline: none;
    text-decoration-line: none;
  }
}
