/* ------------------------------
 * Override default styling of some of the WordPress blocks.
 *
 * Text
 *    1. List
 *    2. Quote
 *    3. Details
 *    4. Pullquote
 *    5. Table
 * Media
 *    6. Image
 * Design
 *    7. Button
 * Theme
 *    8. Navigation
 *    9. Others
 * --------------------------- */

/* ------------------------------
 | List
 * --------------------------- */
.wp-block-list {
  padding-inline-start: 3ch;

  li {
    margin-block-start: 0.5em;
    padding-inline-start: 16px;

    &:where(:first-child) {
      margin-block-start: 0;
    }
  }

  ol,
  ul {
    margin-block-start: 0.5em;
    padding-inline-start: 1em;
  }
}

/* Footnotes. */
.wp-block-footnotes {
  padding-inline-start: 3ch;

  li {
    margin-block-start: 0.5em;
  }
}

/* ------------------------------
 | Quote
 * --------------------------- */

/* ------------------------------
 | Details
 |
 | Animate details & summary with a few lines of CSS.
 | https://www.youtube.com/watch?v=Vzj3jSUbMtI
 * --------------------------- */
.wp-block-details {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  padding-block: 24px;
  padding-inline: 24px;
  overflow: clip;

  &::details-content {
    block-size: 0;
    transition: block-size 200ms, content-visibility 200ms;
    transition-behavior: allow-discrete;
  }

  &[open]::details-content {
    block-size: auto;
  }

  summary {
    list-style-position: outside;
    margin-inline-start: var(--agisty-space-top-rg, 1em);

    &::marker {
      font-size: var(--agisty-font-size-xm, 0.875em);
    }
  }
}

/* ------------------------------
 | Pullquote
 * --------------------------- */
:root :where(.wp-block-pullquote) {
  background-color: white;
  border-inline-start: 4px solid var(--wp--custom--brand);
  outline: var(--wp--custom--brand) dashed 1px;
  margin: 0;
  padding: 24px 0;
  padding-inline-start: 24px;
  text-align: left;

  cite {
    color: var(--wp--custom--gray);
  }
}

/* ------------------------------
 | Table
 * --------------------------- */
.wp-block-table {
  caption-side: bottom;
  font-size: var(--agisty-font-size-sm, 1rem);

  thead {
    background-color: rgb(from var(--wp--custom--gray) r g b / 17%);
    border-bottom: 3px solid var(--wp--custom--black);
  }

  tfoot {
    border-top: 2px solid var(--wp--custom--black);
    color: var(--wp--custom--gray);
  }

  tr,
  th,
  td {
    border: 1px solid var(--wp--custom--border);
    padding: 4px 8px;
  }

  th {
    font-weight: 600;
  }
}

/* ------------------------------
 | Image
 * --------------------------- */
.wp-block-image :where(figcaption) {
  border-bottom: 1px dashed var(--wp--custom--border);
  color: var(--wp--custom--gray);
  font-size: var(--agisty-font-size-sm, 0.875rem);
  line-height: var(--agisty-line-height-head, 1.15);
  margin-bottom: 0;
  margin-top: 1rem;
  text-align: left;
}

/* ------------------------------
 | Buttons
 * --------------------------- */
:root :where(.wp-element-button, .wp-block-button__link) {
  --_btn-shadow: oklch(from var(--wp--custom--button) calc(l - 0.1) c h);

  box-shadow: 0 0.25rem var(--_btn-shadow),
    0 0 0 0.5rem var(--wp--custom--white);
  text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
  text-underline-offset: auto;

  &:is(:hover) {
    background-color: rgb(from var(--wp--custom--button) r g b / 90%);
  }
}

/* ------------------------------
 | Navigation
 * --------------------------- */
.wp-block-navigation :where(a) {
  font-size: var(--agisty-font-size-sm, 0.875rem);

  &:is(:hover, :active) {
    text-decoration: underline 0.1875em solid currentcolor;
  }

  &:is(:focus, :focus-visible) {
    background-color: var(--wp--custom--focus);
    box-shadow: 0 -2px var(--wp--custom--focus), 0 4px var(--wp--custom--black);
    outline: none;
    text-decoration-line: none;
  }
}

/* ------------------------------
 | Others
 * --------------------------- */

/* Create a root stacking context */
.wp-site-blocks {
  isolation: isolate;
}
