/**
 * Theme-specific styles.
 *
 * author:  Rey Sanchez (https://selftawt.com)
 * license: GPLv3.0
 */

/**
 * Focus outlines.
 *
 * https://medienbaecker.com/articles/focus-outlines
 */
*:focus-visible {
  outline: 2px dashed var(--wp--custom--focus);
  outline-offset: 3px;
}

article,
aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* header,
main,
article,
section,
footer {
  container-type: inline-size;
} */

.header-menu__nav {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.agisty__main {
  --sidebar--width: 350px;

  align-items: stretch;
  gap: 2rem var(--agisty-spacing-0);

  /**
   * https://every-layout.dev/layouts/sidebar/
   * https://www.youtube.com/watch?v=k_3pRxdv-cI 
   */

  > article {
    /* ↓ Grow from nothing */
    flex-grow: 999;
    flex-basis: 0;

    /* ↓ Wrap when main content is less than the specified width in px. */
    min-inline-size: min(550px, 100%);
  }

  > aside {
    /* ↓ The width of the sidebar sidebar */
    flex-grow: 1;
    flex-basis: var(--sidebar--width);
    background-color: white;
    border: 1px solid var(--wp--custom--border);
  }
}

.entry-content {
  font-size: var(--agisty-font-size-step-1);
  line-height: var(--wp--custom--line-height-c);

  * + * {
    margin-block-start: var(--agisty-spacing--step--1, 1rem);
  }

  h2 {
    margin-block-start: var(--agisty-spacing--step--2);
  }
}

.header-menu__wrapper,
.footer-menu__wrapper {
  column-gap: 2rem;
}

.agisty__sidebar {
  align-items: flex-start;
  max-width: var(--wp--style--global--content-size);
}

.agisty-wrapper-header {
  border-bottom: 2px solid var(--wp--custom--black);
  padding-block: 2rem;
}

.agisty-wrapper__main {
  padding-block: 4rem;
}

.footer-menu__nav {
  padding-block-end: 1rem;
}

.agisty-footer__copyright,
.agisty-footer__menu :where(a) {
  font-size: 16px;
}

.agisty-footer {
  border-top: 4px solid var(--wp--custom--black);
  padding-block: 1rem;
}

.agisty-box {
  background-color: rgb(from var(--wp--custom--focus) r g b / 17%);
  border: 1px solid var(--wp--custom--focus);
  padding-block: var(--wp--preset--spacing--50);
  padding-inline: var(--wp--preset--spacing--50);
}

/**
 * The anatomy of visually-hidden.
 *
 * https://www.tpgi.com/the-anatomy-of-visually-hidden/
 * https://www.a11yproject.com/posts/how-to-hide-content/
 */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  overflow: clip;
  white-space: preserve nowrap;
}

.skip-link:focus {
  position: absolute;
  height: auto;
  width: auto;
  top: 4px;
  left: 4px;
  padding-block: 1rem;
  padding-inline: 1rem;
  z-index: 100000;
}
