/* ------------------------------
 * Theme-specific styles.
 *
 * CSS Variables
 * Global defaults
 * Header
 * Footer
 * Index
 * Post
 * Page
 * Utilities
 * --------------------------- */

/* ------------------------------
 | CSS Variables
 * --------------------------- */
:root {
  /**
   * Calculated font sizes and spacing.
   *
   * Min values are based on 500px.
   * Max values are based on 736px.
   *
   * https://clamp.font-size.app/
   * https://grtcalculator.com/styles/
   * https://utopia.fyi
   *
   * 1. 24px → 34px
   * 2. 20px → 26px
   * 3. 16px → 18px
   * 4. 14px → 17px
   * 5. 13px → 15px
   * 6. 40px → 48px
   * 7. 20px → 24px
   * 8. 32px @1196px → 100px @1264px
   */
  --agisty-font-size-xl: clamp(1.5rem, 0.1758rem + 4.2373vw, 2.125rem); /* 1 */
  --agisty-font-size-lg: clamp(1.25rem, 0.4555rem + 2.5424vw, 1.625rem); /* 2 */
  --agisty-font-size-rg: clamp(1rem, 0.7352rem + 0.8475vw, 1.125rem); /* 3 */
  --agisty-font-size-sm: clamp(0.875rem, 0.4778rem + 1.2712vw, 1.0625rem);
  --agisty-font-size-xm: clamp(0.8125rem, 0.5477rem + 0.8475vw, 0.9375rem);
  --agisty-space-block-lg: clamp(2.5rem, 1.4407rem + 3.3898vw, 3rem); /* 6 */
  --agisty-space-block-rg: clamp(1.25rem, 0.7203rem + 1.6949vw, 1.5rem); /* 7 */
  --agisty-main-sidebar: clamp(2rem, -72.75rem + 100vw, 6.25rem); /* 8 */
  --agisty-line-height-head: 1.2;
  --agisty-line-height-norm: 1.5;
  --agisty-line-height-body: calc(1ex / 0.32);
}

/* ------------------------------
 | Global defaults.
 * --------------------------- */

/**
 * Focus outlines.
 *
 * https://medienbaecker.com/articles/focus-outlines
 */
:focus-visible {
  outline: var(--wp--custom--brand) dotted 0.1875rem;
  outline-offset: 0.1875rem;
}

html {
  accent-color: var(--wp--custom--brand);

  /** 
   * Animate to or from `height: auto` and other intrinsic sizes.
   * 
   * https://12daysofweb.dev/2024/calc-size-and-interpolate-size/
   */
  interpolate-size: allow-keywords;

  /* Font smoothing. */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  display: flex;
  flex-direction: column;
  font-size: var(--agisty-font-size-rg, 1em);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: var(--agisty-font-size-xl, 1.618em);
}

h2 {
  font-size: var(--agisty-font-size-lg, 1.5em);
}

h3 {
  font-size: 1.17em;
  font-weight: 500;
}

h4 {
  font-size: var(--agisty-font-size-rg, 1em);
  font-weight: 400;
}

a:where(:not(.wp-element-button)) {
  color: var(--wp--custom--link);
  text-decoration: underline max(1px, 0.0625rem) solid currentcolor;
  text-underline-offset: 0.25em;

  &:is(:hover) {
    color: rgb(from var(--wp--custom--link) r g b / 90%);
    text-decoration-thickness: max(3px, 0.1875rem);
  }

  &:is(:focus, :focus-visible) {
    color: var(--wp--custom--black);
    background-color: var(--wp--custom--focus);
    box-shadow: 0 -2px var(--wp--custom--focus), 0 4px var(--wp--custom--black);
    outline: none;
    outline-offset: 1px;
    text-decoration: none;
    text-underline-offset: auto;
  }
}

:not(pre) > code,
kbd {
  border-radius: 4px;
  font-size: var(--agisty-font-size-sm, 0.875em);
  font-style: normal;
  padding-block: 2px;
  padding-inline: 4px;
}

:not(pre) > code {
  background-color: rgb(from var(--wp--custom--brand) r g b / 9%);
  text-shadow: 0 1px white;
}

/**
 * Style the kbd element to look like a button.
 *
 * https://dylanatsmith.com/wrote/styling-the-kbd-element
 */
kbd {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  box-shadow: 0 2px 0 1px var(--wp--custom--border);
  color: var(--wp--custom--gray);
}

pre {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  font-size: var(--agisty-font-size-xm);
  line-height: var(--agisty-line-height-norm, 1.5);
  padding-block: 24px;
  padding-inline: 24px;

  code {
    font-family: inherit;
  }
}

ol ul,
ul ul {
  list-style-type: square;
}

ul > li::marker {
  color: var(--wp--custom--brand);
}

table {
  border-spacing: 0;
  border-color: var(--wp--custom--border);
}

/* header,
main,
article,
section,
footer {
  container-type: inline-size;
} */

/* ------------------------------
 | Header
 * --------------------------- */

/**
 * The anatomy of visually-hidden.
 *
 * https://www.tpgi.com/the-anatomy-of-visually-hidden/
 * https://www.a11yproject.com/posts/how-to-hide-content/
 */
.visually-hidden:not(:focus-visible):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  overflow: clip;
  white-space: preserve nowrap;
}

.skip-link:focus-visible {
  position: absolute;
  height: auto;
  width: auto;
  top: 4px;
  left: 4px;
  padding-block: 16px;
  padding-inline: 16px;
  z-index: 100000;
}

.wrapper-site__header {
  border-block-end: 1px dashed var(--wp--custom--guides);
}

.agisty-header {
  border-block-end: 2px solid var(--wp--custom--black);
  border-inline: 1px dashed var(--wp--custom--guides);
  padding-block: 24px;
}

.header-menu__nav {
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* ------------------------------
 | Footer
 * --------------------------- */
.wrapper-site__footer {
  border-block-start: 1px dashed var(--wp--custom--guides);
}

.agisty-footer {
  border-block-start: 4px solid var(--wp--custom--black);
  border-inline: 1px dashed var(--wp--custom--guides);
  padding-block: 16px;

  :where(a, p) {
    font-size: var(--agisty-font-size-xm);
  }
}

.wrapper-nav__footer {
  padding-block-end: 16px;
}

/* ------------------------------
 | Index
 * --------------------------- */
.entry-card__wrapper {
  --pattern-bg: color-mix(in oklab, var(--wp--custom--black) 7%, transparent);

  background-image: repeating-linear-gradient(
    315deg,
    var(--pattern-bg) 0,
    var(--pattern-bg) 1px,
    transparent 0,
    transparent 50%
  );
  background-attachment: fixed;
  background-size: 8px 8px;
  gap: 24px;
}

.entry-card {
  background-color: white;
  border: 1px solid var(--wp--custom--black);
  display: grid;
  gap: 16px;
  padding: 24px;

  .entry-card__link {
    color: var(--wp--custom--black);
    font-size: var(--agisty-font-size-rg, 1em);
    text-decoration: none;
  }

  .entry-card__excerpt {
    color: var(--wp--custom--gray);
  }
}

/* ------------------------------
 | Post
 * --------------------------- */
.type-post {
  display: grid;
  gap: var(--agisty-space-block-lg);
}

.entry-header__excerpt {
  color: var(--wp--custom--gray);
  font-size: 1.17em;
  font-weight: 310;
}

.entry-content {
  display: flow-root;
  line-height: var(--agisty-line-height-body);

  h2 {
    margin-block-start: var(--agisty-space-block-lg, 1em);
  }

  h3 {
    margin-block-start: 1.17em;
  }
}

/* ------------------------------
 | Page
 * --------------------------- */
.type-page {
  display: grid;
  gap: var(--agisty-space-block-lg);
}

/* ------------------------------
 | Utilities
 * --------------------------- */
.box {
  border-radius: 4px;
  padding-block: 24px;
  padding-inline: 32px;

  > * + * {
    margin-block-start: var(--agisty-space-block-rg, 1em);
  }

  &:is(.red) {
    background-color: rgb(from var(--wp--custom--red) r g b / 13%);
    border-inline-start: 4px solid var(--wp--custom--red);
  }

  &:is(.green) {
    background-color: rgb(from var(--wp--custom--green) r g b / 13%);
    border-inline-start: 4px solid var(--wp--custom--green);
  }

  &:is(.blue) {
    background-color: rgb(from var(--wp--custom--blue) r g b / 13%);
    border-inline-start: 4px solid var(--wp--custom--blue);
  }
}

.agisty-main__index,
.agisty-main__post,
.agisty-main__page {
  border-inline: 1px dashed var(--wp--custom--guides);
}

.entry-header {
  border-block-end: 1px dashed var(--wp--custom--brand);
  padding-block-end: var(--agisty-space-block-rg);
  line-height: var(--agisty-line-height-head);

  .entry-header__title {
    font-stretch: 90%;
    font-weight: 800;
  }
}

.flow-content > * + * {
  margin-block-start: var(--agisty-space-block-rg, 1em);
}

.pb-main {
  padding-block: 48px;
}

.grow {
  flex-grow: 1;
}

.width-wide {
  margin-inline: auto;
  width: min(100% - 32px, var(--wp--style--global--wide-size));
}

.wrapper-menu {
  gap: 32px;
}
