/* ------------------------------
 * Theme-specific styles.
 *
 * Header
 * Main
 * Footer
 * Utilities
 * --------------------------- */

/* ------------------------------
 | Header
 * --------------------------- */
.agisty-header {
  border-bottom: 2px solid var(--wp--custom--black);
  padding-block: var(--agisty-space-top-rg);
}

.header-menu__nav {
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* header,
main,
article,
section,
footer {
  container-type: inline-size;
} */

/* ------------------------------
 | Main
 * --------------------------- */
.type-post,
.agisty-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.agisty-main {
  --sidebar--width: 350px;

  align-items: stretch;
  gap: 2rem var(--agisty-main-sidebar);
  padding-block: var(--agisty-space-top-lg);

  /**
   * https://every-layout.dev/layouts/sidebar/
   * https://www.youtube.com/watch?v=k_3pRxdv-cI 
   */

  > .type-post {
    /* ↓ Grow from nothing */
    flex-grow: 999;
    flex-basis: 0;

    /* ↓ Wrap when main content is less than the specified width in px. */
    min-inline-size: min(550px, 100%);
  }

  > .agisty-sidebar {
    /* ↓ The width of the sidebar sidebar */
    flex-grow: 1;
    flex-basis: var(--sidebar--width);
    background-color: white;
    border: 1px solid var(--wp--custom--border);
  }
}

.entry-content {
  display: flow-root;
  font-size: var(--agisty-font-size-rg);
  line-height: var(--agisty-line-height-body);

  * + * {
    margin-block-start: var(--agisty-space-top-rg, 1rem);
  }

  h2,
  h3 {
    margin-block-start: var(--agisty-space-top-lg, 1rem);
  }

  h4 {
    font-weight: 400;
  }
}

.entry-card {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  display: grid;
  gap: var(--agisty-space-top-rg, 1rem);
  padding: var(--agisty-space-top-rg, 1rem);

  a {
    text-decoration: none;
  }

  :is(h2, h3) {
    font-size: var(--agisty-font-size-rg, 1rem);
  }
}

/* ------------------------------
 | Footer
 * --------------------------- */

.wrapper-nav__footer {
  padding-block-end: 1rem;
}

.agisty-footer {
  border-top: 4px solid var(--wp--custom--black);
  padding-block: 1rem;

  p {
    font-size: var(--agisty-font-size-sm);
  }
}

/* ------------------------------
 | Utilities
 * --------------------------- */

/**
 * The anatomy of visually-hidden.
 *
 * https://www.tpgi.com/the-anatomy-of-visually-hidden/
 * https://www.a11yproject.com/posts/how-to-hide-content/
 */
.visually-hidden:not(:focus-visible):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  overflow: clip;
  white-space: preserve nowrap;
}

.skip-link:focus-visible {
  position: absolute;
  height: auto;
  width: auto;
  top: 4px;
  left: 4px;
  padding-block: 1rem;
  padding-inline: 1rem;
  z-index: 100000;
}

.agisty-box {
  background-color: rgb(from var(--wp--custom--focus) r g b / 13%);
  border: 1px solid var(--wp--custom--focus);
  padding-block: var(--agisty-space-top-rg);
  padding-inline: var(--agisty-space-top-rg);
}

.wrapper {
  margin-inline: auto;
  width: min(100% - 4rem, var(--wp--style--global--wide-size));
}

.wrapper-menu {
  column-gap: 2rem;
}
