@font-face {
  font-family: "Agisty Body";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/agisty-body-rg.woff2") format("woff2");
}

@font-face {
  font-family: "Agisty Body";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/agisty-body-rg.woff2") format("woff2");
}

@font-face {
  font-family: "Agisty Body";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/agisty-body-bd.woff2") format("woff2");
}
