/**
 * Theme-specific styles.
 *
 * Global defaults
 * Header
 * Footer
 * Index
 * Post
 * Page
 * Utilities
 */

/* ==============================
   Global defaults
   ============================== */

/**
 * Focus outlines.
 *
 * https://medienbaecker.com/articles/focus-outlines
 */
:focus-visible {
  outline: var(--wp--custom--brand) dotted 2px;
  outline-offset: 0.25rem;
}

/* Body */
:where(.wp-theme-agisty) {
  accent-color: var(--wp--custom--brand);
  display: flex;
  flex-direction: column;
}

/* ==============================
   Header
   ============================== */

/**
 * These are all CSS classes found in the ff file: 
 *
 *    1. header.php
 *    2. template-parts/header/header-logo.php
 *    3. template-parts/header/header-menu.php
 */

.agisty-header {
  border-block-end: 2px solid var(--wp--custom--black);
  padding-block: var(--agisty-sb-rg);
}

.header-menu__wrapper {
  gap: 32px;
}

/* ==============================
   Footer
   ============================== */

/**
 * These are all CSS classes found in the ff file: 
 *
 *    1. footer.php
 *    2. template-parts/footer/footer-menu.php
 */

.agisty-footer {
  border-block-start: 4px solid var(--wp--custom--black);
  padding-block: 16px;
}

.wrapper-nav__footer {
  padding-block-end: 16px;
}

.footer-menu__wrapper {
  gap: 32px;
}

/* ==============================
   Index
   ============================== */

/**
 * These are all CSS classes found in the ff file: 
 *
 *    1. index.php
 */

.entry-card__wrapper {
  display: grid;
  gap: 32px;
  margin-inline: auto;
}

.entry-card {
  background-color: oklch(1 0 0);
  border: 1px solid var(--wp--custom--smoke);
  display: grid;
  gap: 16px;
  padding: 24px;
}

.entry-card__link {
  color: var(--wp--custom--black);
  text-decoration: none;
}

/* ==============================
   Archive
   ============================== */

/**
 * These are all CSS classes found in the ff file not found in index.php.
 *
 *    1. archive.php
 */

/* ==============================
   404
   ============================== */

/**
 * These are all CSS classes found in the ff file:
 *
 *    1. 404.php
 */

.type-error404 {
  display: grid;
  gap: var(--agisty-sb-lg);
}

/* ==============================
   Post
   ============================== */

/**
 * These are all CSS classes found in the ff file:
 *
 *    1. single.php
 *    2. template-parts/content/content-single.php
 *    3. template-parts/content/content-page.php
 *    4. template-parts/content/content-none.php
 */

/* 
   Post
   ============================== */

.type-post {
  display: grid;
  gap: var(--agisty-sb-lg);
  margin-inline: auto;
}

.entry-header {
  border-block-end: 1px solid var(--wp--custom--border);
  padding-block-end: var(--agisty-sb-rg);
}

.entry-content {
  container-type: inline-size;
  display: flow-root;

  :where(h2, h3, h4, h5, h6)::after {
    content: "#";
    color: var(--wp--custom--border);
    display: inline-block;
    font-weight: 400;
    margin-inline-start: 4px;
    visibility: hidden;
  }

  :where(h2, h3, h4, h5, h6):hover::after {
    visibility: visible;
  }
}

/* 
   Page
   ============================== */

.type-page {
  display: grid;
  gap: var(--agisty-sb-lg);
}

/* ==============================
   Utilities
   ============================== */

/**
 * The anatomy of visually-hidden.
 *
 * https://www.tpgi.com/the-anatomy-of-visually-hidden/
 * https://www.a11yproject.com/posts/how-to-hide-content/
 */
.visually-hidden:not(:is(:active, :focus, :focus-visible)) {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: inset(50%);
  overflow: clip;
  white-space: pre;
}

[data-layout="with-sidebar"] {
  display: flex;
  gap: var(--agisty-sb-lg);

  > :first-child {
    flex: 999 1 0;
    min-inline-size: min(500px, 100%);
  }

  > :last-child {
    flex: 1 1 var(--wp--custom--layout--sidebar-size);
  }
}

[data-sidebar="main-sidebar"] {
  align-self: self-start;
  display: grid;
  gap: var(--agisty-sb-lg);
  margin-inline: auto;

  :where(h2, h3, h4, h5, h6) {
    background-color: var(--wp--custom--black);
    color: var(--wp--custom--white);
    font-weight: 400;
    padding: 8px;
  }
}

.gap-2 {
  gap: 32px;
}

.grow {
  flex-grow: 1;
}

.hidden {
  visibility: hidden;
}

.pb-3 {
  padding-block: 48px;
}

.width-wide {
  margin-inline: auto;
  width: min(100% - 32px, var(--wp--style--global--wide-size));
}
