/** 
 * Typography and Opentype Default Stylesheet (TODS)
 *
 * https://github.com/clagnut/TODS
 */

/* ==============================
   CSS variables
   ============================== */

/**
 * Calculated font sizes and spacing.
 *
 * Min values are based on 500px.
 * Max values are based on 768px.
 *
 *    1. 24px → 32px (fs-xl)
 *    2. 20px → 24px (fs-lg)
 *    3. 16px → 18px (fs-rg)
 *    4. 15px → 16px (fs-sm)
 *    5. 14px → 15px (fs-xm)
 *    6. 48px → 64px (sb-lg)
 *    7. 20px → 24px (sb-rg)
 *
 * https://clamp.font-size.app/
 * https://grtcalculator.com/styles/
 * https://utopia.fyi
 */ 
:root {

  /* fs for font-size  */
  --agisty-fs-xl: clamp(1.5rem, 0.5672rem + 2.9851vw, 2rem); /* 1 */
  --agisty-fs-lg: clamp(1.25rem, 0.7836rem + 1.4925vw, 1.5rem); /* 2 */
  --agisty-fs-rg: clamp(1rem, 0.7668rem + 0.7463vw, 1.125rem); /* 3 */
  --agisty-fs-sm: clamp(0.9375rem, 0.8209rem + 0.3731vw, 1rem); /* 4 */
  --agisty-fs-xm: clamp(0.875rem, 0.7584rem + 0.3731vw, 0.9375rem); /* 5 */

  /* sb for spacing-block */
  --agisty-sb-lg: clamp(3rem, 2.2857rem + 3.5714vw, 4rem); /* 6 */
  --agisty-sb-rg: clamp(1.25rem, 0.7836rem + 1.4925vw, 1.5rem); /* 7 */

  /* lh for line-height */
  --agisty-lh-lg: calc(1ex / 0.32);
  --agisty-lh-rg: 1.5;
  --agisty-lh-sm: 1.2;
}

/* ==============================
   Sectioning root
   ============================== */

body {
  font-family: system-ui, ui-sans-serif, sans-serif;
  font-size: var(--agisty-fs-rg, 1rem);
  font-size-adjust: from-font;
  font-weight: 400;
  text-wrap: pretty;

  /* Turn on kerning and ligature. */
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-variant-numeric: lining-nums proportional-nums;
}

/* ==============================
   Content sectioning
   ============================== */

:where(h1, h2, h3, h4, h5, h6) {
  font-size: 1em;
  font-weight: 600;
  margin-block: 0;
}

.entry-header h1 {
  font-size: var(--agisty-fs-xl, 1.618em);
  font-weight: 700;
}

.entry-content h2 {
  font-size: var(--agisty-fs-lg, 1.5em);
  margin-block-start: var(--agisty-sb-lg, 3em);
}

.entry-content h3 {
  font-size: 1.17em;
  margin-block-start: 1.618em;
}

.entry-content h4 {
  font-size: 1em;
}

/* ==============================
   Remove unwanted margins
   ============================== */

:where(blockquote, dd, dl, menu, ol, ul, p) {
  margin-block: 0;
}

/* ==============================
   Text content
   ============================== */

.entry-content :is(figcaption) {
  font-size: var(--agisty-fs-sm, 0.95em);
}

/* ==============================
   Inline text semantics
   ============================== */

:where(code, pre) {
  font-family: ui-monospace, monospace;
  font-size: var(--agisty-fs-sm, 0.95em);
}

kbd {
  font-family: inherit;
  font-size: var(--agisty-fs-sm, 0.95em);
}

:where(math, time, td) {
  font-variant-numeric: lining-nums tabular-nums;
}

ol li::marker {
  font-variant-numeric: lining-nums tabular-nums;
}

:where(sup, sub, .sup, .sub) {
  font-size: 1em;
  vertical-align: baseline;
}

:where(sup, .sup) {
  font-variant-position: super;
}

:where(sub, .sub) {
  font-variant-position: sub;
}

/* ==============================
   Table
   ============================== */

.wp-block-table {
  font-size: var(--agisty-fs-sm, 0.95em);
}

th {
  font-weight: 600;
}


/* ==============================
   Others
   ============================== */

.agisty-copyright {
  font-size: var(--agisty-fs-xm, 0.9em);
}

.entry-content {
  line-height: var(--agisty-lh-lg, 1.618);
}

.is-layout-flow > * + * {
  margin-block-start: var(--agisty-sb-rg, 1em);
  margin-block-start: 1lh;
}

.entry-header__meta {
  font-size: 1rem;
}

.wp-block-footnotes {
  font-size: var(--agisty-fs-sm, 0.95em);
}

.wp-block-navigation :where(a) {
  font-size: var(--agisty-fs-sm, 0.95em);
}