/* ---------------------------
 * Override default styling of some of the WordPress blocks.
 *
 * Text
 *    1. List
 *    2. Details
 *    3. Quote
 *    4. Pullquote
 *    5. Table
 * Media
 *    6. Image
 * Design
 *    7. Button
 * Theme
 *    8. Navigation
 *    9. Others
 * --------------------------- */

/* ---------------------------
 * List
 * --------------------------- */

.wp-block-list {
  padding-inline-start: 3ch;

  li {
    margin-block-start: 0.5em;
    padding-inline-start: 16px;
  }

  li:first-child {
    margin-block-start: 0;
  }

  :where(.wp-block-list) {
    list-style-type: square;
    margin-block-start: 0.5em;
    padding-inline-start: 1em;
  }
}

.wp-block-footnotes {
  padding-inline-start: 3ch;

  li[id] {
    margin-block-start: 0;
    padding-inline-start: 16px;
  }
}

/* ---------------------------
 * Animate details & summary with a few lines of CSS.
 *
 * https://www.youtube.com/watch?v=Vzj3jSUbMtI
 * https://nerdy.dev/nice-details
 *
 * --------------------------- */
.wp-block-details {
  --_duration: 200ms;
  --_radius: 8px;
  --_padding: 24px;

  background-color: oklch(1 0 0);
  border-radius: var(--_radius);

  > * + * {
    margin-block-start: var(--agisty-sb-rg, 1em);
    margin-block-start: 1lh;
  }

  > summary {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border: 1px solid var(--wp--custom--border);
    border-radius: 8px;
    padding: var(--_padding);
    transition: border-radius var(--_duration);
  }

  > summary::after {
    content: "";
    align-self: center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93bi1pY29uIGx1Y2lkZS1jaGV2cm9uLWRvd24iPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIvPjwvc3ZnPg==);
    background-size: cover;
    min-width: 24px;
    min-height: 24px;
    transition-duration: var(--_duration);
  }

  > summary:hover {
    background-color: var(--wp--custom--guide);
  }

  > p {
    block-size: 0;
    opacity: 0;
    overflow-y: clip;
    padding-inline: var(--_padding);
    transition:
      block-size var(--_duration),
      opacity var(--_duration),
      content-visibility var(--_duration) allow-discrete;
  }

  &[open] {
    border: 1px solid var(--wp--custom--border);

    > summary {
      background-color: var(--wp--custom--guide);
      border: none;
      border-block-end: 1px solid var(--wp--custom--border);
      border-end-start-radius: 0;
      border-end-end-radius: 0;
    }

    > summary::after {
      transform: rotate(180deg);
    }

    > p {
      block-size: auto;
      opacity: 1;
    }

    > p:last-child {
      padding-block-end: var(--_padding);
    }
  }
}

/* ------------------------------
 * Quote
 * --------------------------- */
.wp-block-quote {
  background-color: oklch(1 0 0);
  border-block: 1px solid var(--wp--custom--smoke);
  padding: 24px;
}

/* ------------------------------
 * Pullquote
 * --------------------------- */
:root :where(.wp-block-pullquote) {
  background-color: oklch(1 0 0);
  border-block: 1px solid var(--wp--custom--smoke);
  margin: 0;
  padding: 24px;
  text-align: left;

  cite {
    margin-block-start: 1em;
  }

  cite::before {
    content: "~ ";
    font-style: normal;
  }
}

/* ------------------------------
 * Table
 * --------------------------- */
.wp-block-table {
  caption-side: bottom;
  font-size: var(--agisty-fs-sm);

  thead {
    background-color: var(--wp--custom--guide);
    border-block-end: 3px solid var(--wp--custom--black);
  }

  tfoot {
    border-block-start: 2px solid var(--wp--custom--black);
    color: var(--wp--custom--smoke);
  }

  :is(tr, th, td) {
    border: 1px solid var(--wp--custom--border);
    padding-block: 4px;
    padding-inline: 8px;
  }
}

/* ------------------------------
 * Image
 * --------------------------- */
.entry-content :where(figcaption) {
  border-block-end: 1px solid var(--wp--custom--border);
  font-size: var(--agisty-fs-sm);
  line-height: var(--agisty-lh-sm);
  margin-bottom: 0;
  margin-top: 1rem;
  padding-block-end: 0.5rem;
  text-align: left;
}

/* ------------------------------
 * Buttons
 * --------------------------- */
:root :where(.wp-element-button, .wp-block-button__link) {
  --_btn-hover: oklch(from var(--wp--custom--button) l c h / 95%);

  text-underline-offset: auto;

  &:where(:hover) {
    background-color: var(--_btn-hover);
  }

  &:where(:focus, :focus-visible) {
    border-color: var(--wp--custom--focus);
    box-shadow: inset 0 0 0 2px var(--wp--custom--focus);
    outline: transparent solid 2px;
  }
}

/* ------------------------------
 * Navigation
 * --------------------------- */
.wp-block-navigation :where(a) {
  color: var(--wp--custom--text);
  font-size: var(--agisty-fs-sm);

  &:where(:hover) {
    color: var(--wp--custom--black);
    text-decoration: underline 3px solid currentcolor;
  }
}

.wp-block-navigation .current-menu-item > a {
  color: var(--wp--custom--brand);
  text-decoration: underline 3px solid currentcolor;
}

/* ------------------------------
 * Others
 * --------------------------- */

/* Create a root stacking context */
.wp-site-blocks {
  isolation: isolate;
}

:not(pre) > code,
:where(kbd) {
  font-size: var(--agisty-fs-sm);
  font-style: normal;
}

:not(pre) > code {
  background-color: oklch(0.95 0 0);
  border: 1px solid oklch(0.89 0 0);
  padding: 2px;
}

/**
 * Style the kbd element to look like a button.
 *
 * https://dylanatsmith.com/wrote/styling-the-kbd-element
 */
:where(kbd) {
  border: solid var(--wp--custom--smoke);
  border-radius: 4px;
  border-width: 1px 2px 2px 1px;
  padding: 4px;
}

:where(pre) {
  background-color: oklch(1 0 0);
  border: 1px solid var(--wp--custom--border);
  font-size: var(--agisty-fs-xm);
  line-height: var(--agisty-lh-rg);
  padding-block: 24px;
  padding-inline: 24px;
}
