body {
  font-size: 17px;
  line-height: 1.618;
  margin-inline: auto;
  width: min(100% - 4rem, var(--wp--style--global--content-size));
}

/* Main column width */
.wp-block {
  max-width: var(--wp--style--global--content-size);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: var(--wp--style--global--wide-size);
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

code,
kbd,
pre {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  font-size: 14px;
}

code,
kbd {
  padding-block: 2px;
  padding-inline: 4px;
}

kbd {
  border-radius: 4px;
  box-shadow: 0 2px 0 1px var(--wp--custom--border);
  color: var(--wp--custom--gray);
}

pre {
  line-height: var(--agisty-line-height-norm);
  overflow: auto;
  margin: 0;
  padding-block: 24px;
  padding-inline: 24px;

  code {
    border: none;
    color: inherit;
    padding-block: 0;
    padding-inline: 0;
  }
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

:root :where(.wp-block-pullquote) {
  background-color: white;
  border-inline-start: 4px solid var(--wp--custom--brand);
  outline: var(--wp--custom--brand) dashed 1px;
  margin: 0;
  padding: 24px 0;
  padding-inline-start: 24px;
  text-align: left;

  .wp-block-pullquote__citation {
    color: var(--wp--custom--gray);
  }
}

.wp-block-image :where(figcaption) {
  border-bottom: 1px dashed var(--wp--custom--border);
  color: var(--wp--custom--gray);
  margin-bottom: 0;
  text-align: left;
}
