body {
  background-color: var(--wp--custom--white);
  font-size: 17px;
  line-height: 1.618;
  margin-inline: auto;
  width: min(100% - 4rem, var(--wp--style--global--content-size));
}

/* Main column width */
.wp-block {
  max-width: var(--wp--style--global--content-size);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: var(--wp--style--global--wide-size);
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}

code,
kbd,
pre {
  background-color: white;
  border: 1px solid var(--wp--custom--border);
  font-family: var(--wp--custom--font-mono);
  font-size: 14px;
}

code,
kbd {
  padding-block: 0.125rem;
  padding-inline: 0.25rem;
}

kbd {
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 1px var(--wp--custom--border);
  color: var(--wp--custom--gray);
}

pre {
  line-height: var(--wp--custom--line-height-5);
  margin: 0;
  overflow: auto;
  padding-block: var(--wp--preset--spacing--50);
  padding-inline: var(--wp--preset--spacing--50);

  code {
    border: none;
    color: inherit;
    padding-block: 0;
    padding-inline: 0;
  }
}
