body {
  background-color: #fbfbfb
  color: #11171d;
}

/* Main column width */
.wp-block {
  max-width: var(--wp--style--global--content-size);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: var(--wp--style--global--wide-size);
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}
